/* Estilo para el contenedor principal (biblioteca) */

biblioteca {
    font-family: Arial, sans-serif;
    margin: 20px;
}
  
  /* Estilo para cada libro */

  libro {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilo para el título del libro */

  titulo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo para el autor del libro */

  autor {
    font-size: 14px;
    color: #666;
  }
  
  /* Estilo para la fecha de publicación */
  
  fechaPublicacion {
    font-size: 12px;
    color: #999;
  }