body{
    background-color: white;
}

header{
    background-color: blue;
}

#1{
    display: flex;
    justify-content: flex-end;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

table{
    border-collapse: collapse;
}

table, td, th{
    border: 1px solid black;
    text-align: center;
}

th{
    background-color: aquamarine;
}

td{
    background-color: red;
}

h3{
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}