body{
    background-color: coral;
}

table{
    border-collapse: collapse;
}

table, td, th{
    border: 1px solid black;
    text-align: center;
}

td{
    background-color: aquamarine;
}

td{
    background-color: red;
}

h3{
    font-style: italic;
}